<div class="col-md-9">
  <div class="row user-area-content">
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="back()">Return to My Users list</button>
    </div>
    <div class="col-md-9 col-md-offset-1">
      <span></span>Viewing tasks for user:<span class="username">{{taskInfo.firstName}} {{taskInfo.lastName}} ({{taskInfo.userName}})</span>
    </div>
  </div>
  <div class="row user-area-content chart-padding" *ngIf="total > 0">
    <div class="col-md-3 chart">
      <google-chart #chart
        [title]=title
        [type]=type
        [data]=data
        [columnNames]=columnNames
        [options]=options
        [width]=500
        [height]=0>
      </google-chart>
    </div>
    <div class="col-md-3 div-table">
      <table class="table status-table">
        <thead class="table-header">
          <tr class="statusColumns">
            <th scope="col" class="statusColumns"><div class="status-heights header-text"><strong>Status</strong></div></th>
            <th scope="col" class="statusColumns"><div class="status-heights header-text"><strong>Number</strong></div></th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr>
            <td class="statusColumns"><div class="status-heights body-text">Completed</div></td>
            <td class="statusColumns"><div class="status-heights body-text">{{completed}}</div></td>
          </tr>
          <tr>
            <td class="statusColumns"><div class="status-heights body-text">In Progress</div></td>
            <td class="statusColumns"><div class="status-heights body-text">{{inProgress}}</div></td>
          </tr>
          <tr>
            <td class="statusColumns"><div class="status-heights body-text">Not Started</div></td>
            <td class="statusColumns"><div class="status-heights body-text">{{notStarted}}</div></td>
          </tr>
          <tr>
            <td class="total"><div>Total</div></td>
            <td class="total"><div>{{total}}</div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row user-area-content" *ngIf="total > 0">
    <button class="btn btn-info showClosed" (click)="closedTasksShow()">{{taskShowButtonName}}</button>
    <table class="table table-bordered">
      <thead class="table-header">
        <tr>
          <th scope="col"><h4><strong>Task</strong></h4></th>
          <th scope="col"><h4><strong>Notes</strong></h4></th>
          <th scope="col"><h4><strong>Status</strong></h4></th>
          <th scope="col"><h4><strong>Actions</strong></h4></th>
        </tr>
      </thead>
      <tbody class="table-body">
        <ng-container *ngFor="let task of tasks">
          <tr *ngIf="task.status !== 'Closed' && showClosedTasks !== true">
            <td style="width: 30%;">{{task.name}}</td>
            <td style="width: 35%;">{{task.notes}}</td>
            <td style="width: 15%;">{{task.status}}</td>
            <td>
                <button class="btn btn-info"
                  type="button"
                  data-toggle="modal"
                  data-target="#closeTask"
                  data-backdrop="static"
                  data-keyboard="false"
                  (click)="closeTask(task.id, task.name)">Close Task
                </button>
            </td>
          </tr>
          <tr *ngIf="task.status === 'Closed' && showClosedTasks === true">
            <td style="width: 30%;">{{task.name}}</td>
            <td style="width: 35%;">{{task.notes}}</td>
            <td style="width: 15%;">{{task.status}}</td>
            <td>
                <button class="btn btn-info"
                  type="button"
                  data-toggle="modal"
                  data-target="#reopenTask"
                  data-backdrop="static"
                  data-keyboard="false"
                  (click)="reopenTask(task.id, task.name)">Reopen Task
                </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="row user-area-content" *ngIf="total === 0">
    <div class="col-md-4 col-md-offset-3 noTasks"><h3>This user does not have any tasks</h3></div>
  </div>
</div>
<close-task *ngIf="showCloseTaskModal"
  [taskId]="taskId"
  [taskName]="taskName"
  (closeRemoveModal)="closeRemoveModal()">
</close-task>
<reopen-task *ngIf="showReopenTaskModal"
  [taskId]="taskId"
  [taskName]="taskName"
  (closeReopenModal)="closeReopenModal()">
</reopen-task>