.table-header {
    background-color: #4894ac;
}

.table-header th {
    padding-left: 15px;
}

.table-spacer {
    margin-top: 30px;
}

.table {
    border-collapse: collapse;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.664);
}

.table-body{
    color: black;
    font-size: medium;
}

.table-body td {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: rgb(231, 230, 230);
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgb(255, 255, 255);
}

.username {
    font-size: 24px;
    padding-left: 10px;
}

.note {
    font-size: 14px;
}

.statusColumns {
    border: beige solid 5px;
    width: 15px;
}

.status-table {
    background-color: rgb(255, 255, 255);
    width: 300px;
}

.div-table {
    margin-left: 250px;
}

.total {
    font-size: 20px;
    font-weight: bold;
}

.status-heights {
    height: 10px;
}

.header-text {
    padding-bottom: 20px;
    font-size: 16px;
}

.body-text {
    padding-bottom: 12px;
    font-size: 16px;
}

::ng-deep .chart {
    margin-left: 100px;
}

::ng-deep .chart google-chart div div {
    height: 0px !important;
}

::ng-deep .chart google-chart div div div svg g text {
    font-size: 16px !important;
}

.chart-padding {
    margin-top: 20px;
    margin-left: 140px;
}