<div class="col-md-9">
  <div class="row user-area-content">
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="back()">Return to My Users list</button>
    </div>
    <div class="col-md-10">
      <span></span>Viewing tasks for user:<span class="username">{{taskInfo.firstName}} {{taskInfo.lastName}} ({{taskInfo.userName}})</span>
    </div>
  </div>
  <div class="row user-area-content">
    <table class="table table-striped">
      <thead class="table-header">
        <tr>
          <th scope="col"><h4><strong>Task</strong></h4></th>
          <th scope="col"><h4><strong>Notes</strong></h4></th>
          <th scope="col"><h4><strong>Status</strong></h4></th>
          <th scope="col"><h4><strong>Actions</strong></h4></th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr *ngFor="let task of tasks">
          <td style="width: 30%;">{{task.name}}</td>
          <td style="width: 35%;">{{task.notes}}</td>
          <td style="width: 15%;">{{task.status}}</td>
          <td>
            <div class="dropdown show">
              <button class="btn btn-info">End Task</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>