<div class="col-md-9">
  <div class="row user-area-content">
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="back()">Return to My Users list</button>
    </div>
    <div class="col-md-9 col-md-offset-1">
      <span></span>Viewing tasks for user:<span class="username">{{taskInfo.firstName}} {{taskInfo.lastName}} ({{taskInfo.userName}})</span>
    </div>
  </div>
  <div class="row user-area-content chart-padding" *ngIf="total > 0">
    <div class="col-md-3 chart">
      <google-chart #chart
        [title]=title
        [type]=type
        [data]=data
        [columnNames]=columnNames
        [options]=options
        [width]=500
        [height]=0>
      </google-chart>
    </div>
    <div class="col-md-3 div-table">
      <table class="table status-table">
        <thead class="table-header">
          <tr class="statusColumns">
            <th scope="col" class="statusColumns"><div class="status-heights header-text"><strong>Status</strong></div></th>
            <th scope="col" class="statusColumns"><div class="status-heights header-text"><strong>Number</strong></div></th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr>
            <td class="statusColumns"><div class="status-heights body-text">Completed</div></td>
            <td class="statusColumns"><div class="status-heights body-text">{{completed}}</div></td>
          </tr>
          <tr>
            <td class="statusColumns"><div class="status-heights body-text">In Progress</div></td>
            <td class="statusColumns"><div class="status-heights body-text">{{inProgress}}</div></td>
          </tr>
          <tr>
            <td class="statusColumns"><div class="status-heights body-text">Not Started</div></td>
            <td class="statusColumns"><div class="status-heights body-text">{{notStarted}}</div></td>
          </tr>
          <tr>
            <td class="statusColumns total"><div class="status-heights body-text">Total</div></td>
            <td class="statusColumns total"><div class="status-heights body-text">{{total}}</div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row user-area-content">
    <table class="table table-striped table-spacer">
      <thead class="table-header">
        <tr>
          <th scope="col"><h4><strong>Task</strong></h4></th>
          <th scope="col"><h4><strong>Notes</strong></h4></th>
          <th scope="col"><h4><strong>Status</strong></h4></th>
          <th scope="col"><h4><strong>Actions</strong></h4></th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr *ngFor="let task of tasks">
          <td style="width: 30%;">{{task.name}}</td>
          <td style="width: 35%;">{{task.notes}}</td>
          <td style="width: 15%;">{{task.status}}</td>
          <td>
            <div class="dropdown show">
              <button class="btn btn-info dropdown-toggle"
                type="button" id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                Options&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item"
                    data-toggle="modal"
                    data-target="#closeTask"
                    data-backdrop="static"
                    data-keyboard="false"
                    (click)="closeTask()">Close Task</a>
                </li>
                <li>
                  <a class="dropdown-item" 
                    data-toggle="modal"
                    data-target="#deleteUserToSup"
                    data-backdrop="static"
                    data-keyboard="false"
                    (click)="moveToNotStarted()">Move to Not Started</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0)" (click)="moveToInProgress()">Move to In Progress</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0)" (click)="closeTask()">Move to Completed</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<close-task></close-task>