<div class="container">
    <div class="row top-buffer">
        <div class="col-md-6">
            <h1>Register</h1>
            <hr />
            <div class="form-group">
                <label for="username" class="label-text">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username"
                    (keydown)="checkEnterPressed($event)" [(ngModel)]="user.username" />
            </div>
            <div class="form-group">
                <label for="password" class="label-text">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password"
                    (keydown)="checkEnterPressed($event)" [(ngModel)]="user.password" />
            </div>
            <div class="form-group">
                <label for="userTypes" class="label-text">User Account Type</label>
                <select class="form-control" id="userTypes" name="userTypes" (keydown)="checkEnterPressed($event)"
                    [(ngModel)]="user.userType">
                    <optgroup label="Administrator User Types">
                        <option value="supervisor">Supervisor</option>
                        <option value="parent">Parent</option>
                    </optgroup>
                    <optgroup label="Regular User Types">
                        <option value="employee">Employee</option>
                        <option value="child">Child</option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group">
                <a [routerLink]="['/login']" class="label-text">Login</a>
                <button class="btn btn-primary pull-right" (click)="registerUser()">Create User</button>
            </div>
        </div>
        <div class="col-md-1">
            <div class="vl"></div>
        </div>
        <div class="col-md-5 logo">
            TrackTasks
        </div>
    </div>
</div>