.thumbnail {
    min-height: 200px;
    margin-top: 10px;
    max-height: 201px;
}

.well div {
    color: #bbb;
}

.task-name-header {
    padding-top: 15px;
    font-size: 17px;
}

.button-text {
    font-size: 14px;
    margin-right: 10px;
    margin-top: 10%;
}

.card-background {
    background-color: #4e5d6c;
    min-height: 200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
}

.card-title {
    min-height: 35px;
}

.shadow {
    box-shadow: 1px 1px 5px 2px rgba(204, 204, 204, 0.671);
}

.btn-toolbar {
    margin-bottom: 20px;
}

.button-spacing {
    margin-left: 25px;
}

.task-status {
    font-size: 22px;
    margin-bottom: 20px;
}

.card-spacing {
    margin-top: 20px;
}