<div class="col-md-3 tasks-column all-tasks-column">
  <h4 class="status-header"><strong>Unavailable Tasks</strong></h4>
  <!-- image provided by pixabay.com -->
  <img class="img-responsive status-column-shadow" src="assets/unavailable.jpg">
  <div *ngFor="let task of unavailableTasks;" class="col-md-12 status-first-card">
    <div class="card card-background shadow">
      <div class="card-header">
          <strong>Name:</strong>&nbsp;{{task.name}}
      </div>
      <div class="card-body">
          <h5 class="card-title"><strong>Description:</strong>&nbsp;{{task.description}}</h5>
          <div *ngIf="task.username"><strong>Assigned User:</strong>&nbsp;{{task.username}}</div>
          <div *ngIf="!task.username"><strong>Assigned User:</strong>&nbsp;<em>Unassigned</em></div>
          <button class="btn btn-info button-text"
            data-toggle="modal"
            data-target="#editTask"
            data-backdrop="static"
            data-keyboard="false"
            (click)="editTask(task.id)">
            <i class="fa fa-edit fa-lg"></i>&nbsp;Edit
          </button>
      </div>
    </div>
  </div>
</div>
<edit-task *ngIf="showEditModal"
  [currentTaskId]="currentTaskId"
  [studentChildren]="studentChildren"
  (reloadComponent)="reloadComponent($event)"
  (closeModal)="closeModal()">
</edit-task>