<div class="modal fade" id="closeTask" tabindex="-1" role="dialog" aria-labelledby="closeTaskLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding-right: 10px; padding-top: 10px;" (click)="closeCurrentModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    <div class="modal-header">
        <h4 class="modal-title" id="closeTaskLabel"><strong>Close this task?</strong></h4>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="col-md-6">
            <div>
              <h4>Are you sure you want to close task {{task}}?</h4>
              <h4>Closing this task will remove it from the user's task list.</h4>
            </div>
            <div class="form-group button-separation">
                <button class="btn btn-danger"
                  (click)="closeTask()"style="margin-right: 5px;" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" data-dismiss="modal" (click)="closeCurrentModal()">Keep Open</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>