<div class="modal fade" id="taskDetails" tabindex="-1" role="dialog" aria-labelledby="taskDetailsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding-right: 10px; padding-top: 10px;">
                <span aria-hidden="true">&times;</span>
            </button>
        <div class="modal-header">
            <h4 class="modal-title" id="taskDetailsLabel"><strong>{{modalName}}</strong></h4>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="taskname" class="label-text">Task Name:</label>
                        <input id="taskname" name="taskname" type="text" class="form-control fields" value="{{currentTaskName}}" [(ngModel)]="currentTaskName"/>
                    </div>
                    <div class="form-group">
                        <label for="description" class="label-text">Task Description:</label>
                        <textarea id="description" name="description" type="description" class="form-control fields" 
                            value="{{currentTaskDesc}}" [(ngModel)]="currentTaskDesc"></textarea>
                    </div>
                    <div class="form-group" *ngIf="!fromMyTasks">
                        <label for="currentAssignedUserId" class="label-text">Assign a user to this task:</label>
                        <ejs-dropdownlist id='currentAssignedUserId' [value]="currentAssignedUserId" [dataSource]='studentchildusers' [fields]='selectUserfields' width="90%"
                            placeholder='Select a User' [(ngModel)]="currentAssignedUserId">
                        </ejs-dropdownlist>
                    </div>
                    <div class="form-check" *ngIf="!currentAssignedUserId">
                        <input class="form-check-input" type="checkbox" value="" id="available" [checked]="currentTaskAvailability" [(ngModel)]="currentTaskAvailability">
                        <label class="form-check-label available-text" for="available">
                          Make this task available
                        </label>
                      </div>

                    
                    <div class="form-group" *ngIf="fromMyTasks">
                        <label for="ddlelement" class="label-text">Status:</label>
                        <ejs-dropdownlist id='ddlelement' [value]="currentStatus" [dataSource]='dropdownitems' [fields]='selectStatusfields' width="90%"
                            [(ngModel)]="task.status">
                        </ejs-dropdownlist>
                    </div>


                    <div class="form-group">
                        <button class="btn btn-primary" (click)="saveTaskChanges()" style="margin-right: 5px;" data-dismiss="modal" [disabled]="task.name === ''">Save</button>
                        <button class="btn btn-default" data-dismiss="modal" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>