<div class="col-md-10 body-margin">
  <div class="row">
    <not-started 
      [notStartedRefresh]="notStartedRefresh"
      (reloadinProcess)="reloadinProcess()"
      (reloadCompleted)="reloadCompleted()">
    </not-started>
    <in-progress
      [inProcessRefresh]="inProcessRefresh"
      (reloadNotStarted)="reloadNotStarted()"
      (reloadCompleted)="reloadCompleted()">
    </in-progress>
    <completed
      [completedRefresh]="completedRefresh"
      (reloadNotStarted)="reloadNotStarted()"
      (reloadinProcess)="reloadinProcess()">
    </completed>
  </div>
</div>