<div class="col-md-3 tasks-column all-tasks-column">
  <h4 class="status-header"><strong>Assigned Tasks</strong></h4>
  <p class="column-desc">*Tasks which you have created (starred) and assigned or tasks that have been assigned to you by a supervisor.</p>
  <!-- image provided by pixabay.com -->
  <img class="img-responsive status-column-shadow" src="assets/assigned.jpg">
  <hr>
  <div *ngFor="let task of assignedTasks;" class="col-md-12 status-first-card">
    <div class="card card-background shadow">
      <div class="card-header">
          <strong>Name:</strong>&nbsp;{{task.name}}<i class="fa fa-star fa-pull-right fa-lg star" aria-hidden="true" *ngIf="task.owner == loggedInUserId"></i>
      </div>
      <div class="card-body">
          <h5><strong>Description:</strong>&nbsp;{{task.description}}</h5>
          <h5 *ngIf="task.username"><strong>Assigned User:</strong>&nbsp;{{task.username}}</h5>
          <h5 *ngIf="!task.username"><strong>Assigned User:</strong>&nbsp;<em>Unassigned</em></h5>
          <h5><strong>Task creator:</strong> {{task.ownername}}</h5>
          <button
            class="btn btn-info button-text"
            data-toggle="modal"
            data-target="#editTask"
            data-backdrop="static"
            data-keyboard="false"
            (click)="editTask(task.id)">
            <i class="fa fa-edit fa-lg" *ngIf="task.owner == loggedInUserId"></i>
            <i class="fa fa-eye fa-lg" *ngIf="task.owner != loggedInUserId"></i>&nbsp;{{task.owner == loggedInUserId ? 'Edit' : 'View'}}
          </button>
          <button class="btn btn-danger button-text" 
            data-toggle="modal"
            data-target="#deleteTask"
            data-backdrop="static"
            data-keyboard="false"
            *ngIf="task.owner == loggedInUserId"
            (click)="deleteConfirmation(task.id, task.name, task.description)">
            Delete
        </button>
      </div>
    </div>
  </div>
</div>
<edit-task *ngIf="showEditModal"
  [currentTaskId]="currentTaskId"
  [supervised]="supervised"
  [fromAssigned]="fromAssigned"
  (reloadComponent)="reloadComponent($event)"
  (closeModal)="closeModal()">
</edit-task>
<delete-task *ngIf="showDeleteModal"
  [deleteTaskId]="deleteTaskId"
  [deleteTaskName]="deleteTaskName"
  [deleteTaskDesc]="deleteTaskDesc"
  (closeDeleteModal)="closeDeleteModal()"
  (reloadComponent)="reloadComponent($event)">
</delete-task>
