<div class="col-md-10 body-margin">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-success" data-toggle="modal" data-target="#taskDetails"
              (click)="createTask()">
              <i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;&nbsp;Create New Task
            </button>
    </div>
  </div>
  <unavailable-tasks
    [studentChildren]="studentChildren"
    [unavailableRefresh]="unavailableRefresh"
    (reloadAvailable)="reloadAvailable()"
    (reloadAssigned)="reloadAssigned()">
  </unavailable-tasks>
  <available-tasks
    [studentChildren]="studentChildren"
    [availableRefresh]="availableRefresh"
    (reloadUnavailable)="reloadUnavailable()"
    (reloadAssigned)="reloadAssigned()"></available-tasks>
  <assigned-tasks
    [studentChildren]="studentChildren"
    [assignedRefresh]="assignedRefresh"
    (reloadUnavailable)="reloadUnavailable()"
    (reloadAvailable)="reloadAvailable()">
  </assigned-tasks>
</div>
<!-- <task-details
  [currentTaskId]="currentTaskId"
  [currentTaskName]="currentTaskName"
  [currentTaskDesc]="currentTaskDesc"
  [currentUsername]="currentUsername"
  [currentAssignedUserId]="currentAssignedUserId"
  [currentTaskAvailability]="currentTaskAvailability"
  [studentChildren]="studentChildren"
  (reloadComponent)="reloadComponent()">
</task-details> -->