<div class="col-md-10 body-margin">
  <div class="row">
    <div class="col-md-2">
      <button
        class="btn btn-success"
        data-toggle="modal"
        data-target="#newTask"
        data-backdrop="static"
        data-keyboard="false"
        (click)="createTask()">
        <i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;&nbsp;Create New Task
      </button>
    </div>
    <div class="col-md-4" *ngIf="showDeletedMessage">
      <div id="delete message" class="delete-message">
        <i class="fa fa-check fa-lg"></i><strong>The task has been successfully deleted</strong>
      </div>    
    </div>
    <div class="col-md-10" *ngIf="!showDeletedMessage">
      <h4>Only tasks which you have created or which your supervisor has made available will display here.</h4>
    </div>
  </div>
  <unavailable-tasks
    [supervised]="supervised"
    [loggedInUserId]="loggedInUserId"
    [unavailableRefresh]="unavailableRefresh"
    (reloadAvailable)="reloadAvailable()"
    (reloadAssigned)="reloadAssigned()"
    (deleteMessage)="deleteMessage()">
  </unavailable-tasks>
  <available-tasks
    [supervised]="supervised"
    [loggedInUserId]="loggedInUserId"
    [availableRefresh]="availableRefresh"
    (reloadUnavailable)="reloadUnavailable()"
    (reloadAssigned)="reloadAssigned()"
    (deleteMessage)="deleteMessage()">
  </available-tasks>
  <assigned-tasks
    [supervised]="supervised"
    [loggedInUserId]="loggedInUserId"
    [assignedRefresh]="assignedRefresh"
    (reloadUnavailable)="reloadUnavailable()"
    (reloadAvailable)="reloadAvailable()"
    (deleteMessage)="deleteMessage()">
  </assigned-tasks>
</div>
<newTask *ngIf="showNewModal"
  [supervised]="supervised"
  (reloadComponent)="reloadComponent()"
  (closeModal)="closeModal()">
</newTask>