<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to the Task Dashboard</h1>
        </div>
        <div class="col-md-2 logOut">
            <h4>logged in as: <b>{{userName}}</b></h4>
        </div>
        <div class="col-md-2">
            <button class="btn btn-info logOut" (click)="logOut()">Log Out</button>
        </div>
    </div>
    <hr>
    <button class="btn btn-primary" (click)="createTask()">Create Task</button>
    <div class="row">
        <div *ngFor="let task of allTasks;" class="col-md-3">
            <div class="well hoverwell thumbnail">
                <p class="task-name-header"><strong>Name:</strong>&nbsp;{{task.name}}</p>
                <p class="desc-header"><strong>Description:</strong>&nbsp;{{task.description}}</p>
                <p class="desc-header" *ngIf="task.assignedUser > 0"><strong>Assigned
                        User:</strong>&nbsp;{{task.assignedUser}}
                </p>
            </div>
        </div>
    </div>
</div>