.thumbnail {
    min-height: 200px;
    margin-top: 10px;
    max-height: 201px;
}

.well div {
    color: #bbb;
}

.logOut {
    margin-top: 25px;
}

.task-name-header {
    padding-top: 15px;
    font-size: 17px;
}

.desc-header {
    font-size: 15px;
}

.button-text {
    font-size: 12px;
    margin-right: 10px;
}