<div class="row">
  <div class="col-md-10">
    <div class="title">
      <h1><strong>TrackTasks - {{pageName}}</strong></h1>
    </div>
  </div>
  <div class="col-md-2">
      <button class="btn btn-info logOut" (click)="logOut()">Log Out</button>
      <br />
      <h4><b>{{loggedInUserName}}</b></h4>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-2">
    <nav class ="navbar bg-dark">
      <ul class ="nav nav-background">
        <li class ="nav-item item-text">
          <a class ="nav-link text-color" href="javascript:void(0)" (click)="loadMyTasks();"
          [ngClass]="{'active' : showMyTasks, 'inactive': !showMyTasks}">
          <i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;My Tasks</a>
        </li>
        <li class ="nav-item item-text">
          <a class ="nav-link text-color" href="javascript:void(0)"
          [ngClass]="{'active' : showProfile, 'inactive': !showProfile}"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Profile</a>
        </li>
        <li class ="nav-item item-text">
          <a class ="nav-link text-color" href="javascript:void(0)" (click)="loadAllTasksComponent();"
          [ngClass]="{'active' : showAllTasks, 'inactive': !showAllTasks}">
            <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;Manage Tasks</a>
        </li>
        <li class ="nav-item item-text">
          <a class ="nav-link text-color" href="javascript:void(0)" (click)="loadMyUsers();"
            [ngClass]="{'active' : myUsers, 'inactive': !myUsers}">
            <i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;My Users</a>
        </li>
        <li class ="nav-item item-text">
          <a class ="nav-link text-color" href="javascript:void(0)" [ngClass]="{'active' : showAbout, 'inactive': !showAbout}">
            <i class="fa fa-question"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;About</a>
        </li>
      </ul>
    </nav>
    <button id="openModal" #openModal [hidden]="true" 
    data-toggle="modal" data-target="#invitation-notice"></button>
  </div>
  <alltasks *ngIf="showAllTasks"></alltasks>
  <mytasks *ngIf="showMyTasks"></mytasks>
  <my-users *ngIf="myUsers"></my-users>
  <invitation-notice
    [supervisorFirstName]="supervisorFirstName"
    [supervisorLastName]="supervisorLastName"
    [supervisorUsername]="supervisorUsername"
    [inviteId]="inviteId"></invitation-notice>
</div>