.thumbnail {
    min-height: 170px;
    margin-top: 10px;
    max-height: 171px;
}

.well div {
    color: #bbb;
}

.logOut {
    margin-top: 25px;
}

.task-name-header {
    font-size: 17px;
}

.desc-header {
    font-size: 15px;
}