<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1><strong>Task Dashboard</strong></h1>
        </div>
        <div class="col-md-2">
            <button class="btn btn-info logOut" (click)="logOut()">Log Out</button>
            <br />
            <h4><b>{{userName}}</b></h4>
        </div>
    </div>
    <hr>
    <button class="btn btn-primary" style="margin-bottom: 25px;" (click)="createTask()">Create Task</button>
</div>
<div class="container">
    <div *ngFor="let task of allTasks;" class="col-md-4">
        <div class="card card-background shadow">
            <div class="card-header">
                <strong>Name:</strong>&nbsp;{{truncatedName[task.id] ? truncatedName[task.id] : task.name}}
            </div>
            <div class="card-body">
                <h5 class="card-title"><strong>Description:</strong>&nbsp;{{truncatedDescription[task.id] ? truncatedDescription[task.id] : task.description}}</h5>
                <div *ngIf="task.username"><strong>Assigned User:</strong>&nbsp;{{task.username}}</div>
                <div *ngIf="!task.username"><strong>Assigned User:</strong>&nbsp;<em>Unassigned</em></div>
                <button class="btn btn-warning button-text button-shadow" data-toggle="modal" data-target="#taskDetails" (click)="editTask(task.id, task.name, task.description)">
                  <i class="fa fa-edit fa-lg"></i>&nbsp;Edit
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="taskDetails" tabindex="-1" role="dialog" aria-labelledby="taskDetailsLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding-right: 10px; padding-top: 10px;">
              <span aria-hidden="true">&times;</span>
            </button>
          <div class="modal-header">
            <h4 class="modal-title" id="taskDetailsLabel"><strong>Task Details</strong></h4>
          </div>
          <div class="modal-body">
              <task-details
                [currentTaskId]="currentTaskId"
                [currentTaskName]="currentTaskName"
                [currentTaskDesc]="currentTaskDesc">
              </task-details>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-info">Save changes</button>
          </div>
        </div>
      </div>
    </div>
</div>