.top-buffer {
    margin-top: 100px;
}

.logo {
    font-size: 95px;
    font-family: Garamond, serif;
    margin-top: 75px;
}

.label-text {
    font-size: 20px;
}

.e-control > .e-input-group {
    background-color: white;
    height: 39px;
    width: 90%;
}

.e-control > .e-input-group > .e-input::placeholder{
    padding-left: 8px;
    font-size: 15px;
}

.e-control > .e-input-group > .e-ddl-hidden{
    padding-left: 10px;
}

body {
    overflow-x: hidden;
}