.modal-body, .modal-footer {
  background-color: rgba(255, 255, 255, 0.877);
  color: black;
}

.modal-dialog {
  width: 975px;
}

.table-header {
  background-color: #4894ac;
  color: white;
}

.table-spacing {
  position: sticky;
  width: 900px;
}

.bottom {
  margin-bottom: 25px;
}

.table-body {
  color: black;
  font-size: medium;
  height: 100px !important;
  overflow-y: scroll !important;
}

.table-body td {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: rgb(235, 252, 252);
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgb(255, 255, 255);
}

.table-body tr {
  height: 60px;
}

.clear-button {
  margin-right: 100px;
  background-color: #5cb85c;
}